<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='login-style.css') }}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form method="POST">
        <h3>Login</h3>
        <label for="nome">Nome:</label>
        <input type="text" name="nome" placeholder="SeuNome" id="nome" required autofocus>

        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="seuemail@.com" id="email" required autofocus>

        <label for="senha">Senha:</label>
        <input type="password" name="senha" placeholder="suasenha" id="senha" required autocomplete="current-password">

        <button type="submit">Cadastrar-se</button>

        <div class="social">
            <div class="go"><i class="fab fa-google"></i> Google</div>
            <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
        </div>
        <p>Já tem uma conta? <a href="{{ url_for('views.login') }}">Faça login aqui</a></p>
    </form>
</body>
</html>
